*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 none;
    direction: rtl;
    text-decoration: none;
}
/* header nav*/

nav{
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 99;
    position: relative;
    box-shadow: inset 0px 6px 65px 1px #141415;
}
nav .nav-right{
    display: flex;
    justify-content: start;
    align-items: center;
}
nav .nav-right img{
    width: 165px;
    height: 58px;
}
nav .nav-right ul{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
}
nav .nav-right ul li a{
    padding: 5px 45px;
    color: #fff;
    transition: 500ms;
}
nav .nav-right ul li a:hover{
    color: #E93F3F;
}
nav .nav-left{
    background-color: #FF5E14;
    transition: 500ms;
}
nav .nav-left:hover{
    background-color: #D45218;
    cursor: pointer;
}
nav .nav-left .serach-box{
    width: 220px;
    height: 35px;
    overflow: hidden;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-left .serach-box input{
    width: 150px;
    height: 35px;
    background-color: #555054;
    color: white;
    padding: 0 8px;
}
nav .nav-left .serach-box i{
    width: 70px;
    color: #fff;
    text-align: center;
    transition: 500ms;
}


/* sec-bg */
.menu-bg{
    width: 100%;
    height: 300px;
    position: relative;

}
.menu-bg::after{
    content: "";
    display: block;
    width: 100%;
    height:300px;
    position: absolute;
    top: -60px;
    left: 0;
    background: url(../imgs/footer-bg2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    
}
.menu-bg .title{
    width: 100%;
    height: 240px;
    text-align: center;
    position: absolute;
    z-index: 99;
    background-color: #0F0000;
    opacity: .5;
    top: 0px;
    right: 0px;
    padding: 0 20px;
}
.menu-bg .title h1{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    color: #ffff;
    font-weight:bolder;
}


main .continer{
    max-width: 1024px;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

main .continer .title{
    width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 70px;
}
main .continer .title i{
    /* width: 50px;
    display: block; */
    color: #920E0C;
    margin-left: 10px;
}
main .continer .title p span{
    display: block;
    font-size: 20px;
}
main .continer .title p strong{
    display: block;
    font-size: 20px;
}




footer{
    width: 100%;
    min-height: 260px;
    background:url(../imgs/footer-bg2.jpg) no-repeat;
    background-position: center;
    background-size:cover;
    text-align: center;
    
}
footer .top{
    width: 100%;
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.9;
    background-color: #0F0000;
    padding-bottom: 20px;
}
footer .top .title{
    margin: 10px 90px;
}
footer .top .title p{
    width: 300px;
    color: #ffff;
}
footer .top .title span{
    color:#ffff;
    margin-top: 20px;
    padding-bottom: 15px;
    font-weight: bold;
    display: block;
}
footer .top .title ul{
    list-style: none;
}
footer .top .title ul li a{
    color: #ffff;
    display: block;
    padding: 5px 0;
    transition: 500ms;
}
footer .top .title ul li a:hover{
    color: #DC5517;
}

footer .bottom{
    width: 100%;
    min-height: 100px;
    text-align: center;
    opacity: 0.9;
    background-color: #0F0000;
    border-top: 2px solid #ffff;
}
footer .bottom span{
    color:#ffff;
    font-size: 18px;
    padding-top: 30px;
    display: block;
    font-weight: bolder;
}






/* MediaQuery 976 */
@media only screen and (max-width: 1030px){
    nav{
        width: 100%;
        height: 60px;
        padding: 0 30px;
        
    } 
    nav .nav-right ul li a{
        padding: 5px 18px;
        color: #fff;
        transition: 500ms;
    }

}   
    
    
    .icon{
        font-size: 35px;
        cursor: pointer;
        opacity: 0;
        margin-right: 20px;  
        color:white;
    }
    
    
    /* MediaQuery 856 */
    @media only screen and (max-width: 856px){
        nav{
            width: 100%;
            height: 60px;
            padding: 0 30px;
        } 
        nav .nav-right ul{
            display: block;
            position: fixed;
            left: -340px;
            top: 0;
            bottom: 0;
            opacity: .9;
            background-color: #333333;
            z-index: 2;
            padding: 25px 40px;
            width: 220px;
        }
        nav .nav-right ul li{
            padding: 25px 1px;
            border-top: 1px solid white;
        }
        nav .nav-right ul li:first-child{
            border: none;
        }
        nav .nav-right ul li a{
            padding: 30px 30px;
        }
        .icon{
            display: block;
            opacity: 1;
        }
        /* ///// */
    
    }
    

    
    